*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.container{
    background-color: bisque;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box
{
    width: 80%;
    height: 80%;
    overflow: hidden;
    background-color: aquamarine;
    border-radius: 20px;
}
.u{
    height: 15%;
    width: 100%;
    background-color: burlywood;
    display: flex;
    justify-content: space-around;
}
#l{
    height: 85%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.ubox
{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.elem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ubox{
    height: 40px;
    width: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: 100;
}

.bubble{
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: bisque;
    border-radius: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: larger;
}
.bubble:hover
{
    background-color: rgb(241, 155, 93);
    cursor: pointer;
}

button{
    background-color: chartreuse;
    border: solid black;
    margin: 30px;
    width: 90px;
    height: 50px;
    font-size: large;
}
